@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html, body{
	/*width: 100%;
	height: 100%;*/
}

body{
	font-size: 14px;
	line-height: 1.5;
	/*color:black;*/
	/*background-color: white;*/
	display: block;
}

.navbar{
	margin-bottom: 0px;
	font-family: Pacifico;
}

.navbar-default{
	background-color: orange;
}

.welcome{
	padding-top: 80px;
	color: white;

}

.button{
	padding-top: 25px;
}

.ss_btn {

	border-radius: 12px;
  background-color: transparent;
  color: white;
  border: 3px solid;
  font-family: Pacifico;
  font-size: 30px;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       opacity: .7;

}

.jumbotron-top{
	position: relative;
	background-image: url(https://images.pexels.com/photos/58997/pexels-photo-58997.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin-bottom: 0px;
	font-size: 100px;

	/*max-width: 100%;*/
	/*height: auto;*/
}


.profile-create{
	padding: 100px;
	display: block;
	background-color: #ea7210;
}

.profile-link{
	padding: 30px;
	display: block;
	border: white 1px solid;

}

.samples{
	padding: 50px;
	display: block;
	margin-bottom: 0px;
}


.thumbnails{
	text-align: center;
	

}

.thumbnail img{
	height: 250px;
}

.jumbotron-bottom{
	height: 75%;
	margin-bottom: 0px;
	background: url(https://images.pexels.com/photos/128817/pexels-photo-128817.jpeg?w=940&h=650&auto=compress&cs=tinysrgb)center no-repeat;
	
}

.footer-section{
	background-color: #ea7210;
}

.footer-header{
	padding-top: 100px;
}

.footer-button{
	padding-top: 30px;
}


a{
	text-decoration: none;
	color: white;
	font-family: Pacifico;
}

h1{ 
	text-align: center; 
	font-family: Pacifico;
	color: white;
	 text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       opacity: .7;

}

h2 {
	font-size: 150px;
	text-align: center; 
	font-family: Pacifico;
	color: white;
	 
	 text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       opacity: .7;
}

h3{
	text-align: center;
	padding: 20px;
	font-family: Pacifico;
	color: black;

}

h5 {
	font-size: 75px;
	text-align: center; 
	font-family: Pacifico;
	color: white;
	 
	 text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       opacity: .7;


}

p{
	text-align: center;
	font-family: 'PT Sans', sans-serif;

}

img{
	max-width: 100%;
	height: auto;
}






/*Below is for the FAQ page*/

.ss_faq {
  display: block;
  background-color: #ea7210;

}

.ss_h3 {
  display:block;
  background-color: white;
  float: right;
  font-size: 18px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'PT Sans', sans-serif;
  height: auto;
 
  
}
 

.ss_h4 {
  display:block;
  background-color: white;
  float: right;
  font-size: 18px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'PT Sans', sans-serif;
  
}

/*This is the gallery page stuff*/


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider a img { outline: none; border: none; }

.flexslider {
	margin: 0;
	padding: 0;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	width: 100%;
	display: block;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 20px;
	 width: auto;
  max-height: 600px;
  display: block;
  margin:auto;
}

/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }



/* Theme Styles */
.flexslider {
	position: relative;
	zoom: 1;
	padding: 10px;
	background: rgb(232, 232, 234);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 20px;

	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
	box-shadow: 0px 1px 1px rgba(0,0,0, .2);
}

/* Edit it if you want */
.flex-container {
	min-width: 150px;
	max-width: 2000px;
}

.flexslider .slides { zoom: 1; }



/* Direction Nav */
.flex-direction-nav a {
	display: block;
	position: absolute;
	margin: -17px 0 0 0;
	width: 35px;
	height: 35px;
	top: 10%;
	cursor: pointer;
	text-indent: -9999px;
	z-index: 9999;

	background-color: #82d344;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#82d344), to(#51af34));
	background-image: -webkit-linear-gradient(top, #82d344, #51af34);
	background-image: -moz-linear-gradient(top, #82d344, #51af34);
	background-image: -o-linear-gradient(top, #82d344, #51af34);
	background-image: linear-gradient(to bottom, #82d344, #51af34);

}

.flex-direction-nav a:before {
	display: block;
	position: absolute;
	content: '';
	width: 11px;
	height: 13px;
	top: 11px;
	left: 11px;
	background: no-repeat;

}

.flex-direction-nav a:after {
	display: block;
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: 35px;
}

.flex-direction-nav .flex-next {
	right: -5px;

	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.flex-direction-nav .flex-prev {
	left: -5px;

	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.flex-direction-nav .flex-next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .flex-prev:before { background-position: 0 0; }

.flex-direction-nav .flex-next:after {
	right: 0;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #31611e;
}

.flex-direction-nav .flex-prev:after {
	left: 0;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #31611e;
}



/* Control Nav */
.flexslider .flex-control-nav {
	position: absolute;
	width: 100%;
	bottom: -40px;
	text-align: center;
	margin: 0 0 0 -10px;
}

.flex-control-nav li {
	display: inline-block;
	zoom: 1;
}

.flex-control-paging li a {
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	width: 12px;
	height: 12px;
	margin: 0 3px;
	background-color: #b6b6b6 \9;

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;

	-webkit-box-shadow: inset 0 0 0 2px #b6b6b6;
	-moz-box-shadow: inset 0 0 0 2px #b6b6b6;
	box-shadow: inset 0 0 0 2px #b6b6b6;
}

.flex-control-paging li a.flex-active {
	background-color: #82d344;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#82d344), to(#51af34));
	background-image: -webkit-linear-gradient(top, #82d344, #51af34);
	background-image: -moz-linear-gradient(top, #82d344, #51af34);
	background-image: -o-linear-gradient(top, #82d344, #51af34);
	background-image: linear-gradient(to bottom, #82d344, #51af34);

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



/* Captions */
.flexslider .slides p {
	display: block;
	
	padding: 0 5px;
	margin: auto;

	font-family: Pacifico;
	font-size: 38px;
	
	line-height: 50px;
	color: rgb(86, 84, 82);

	opacity: .8;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	kerning: -3px;
}

.ss_div1 {
	padding-top: 3%;
	position: block;
	background-color: white;
	height: 180px;
	background-color: #ea7210;

}

.ss_div1_gallery {
	padding-top: 3px;
	position: block;
	background-color: white;
	height: 200px;
	background-color: #ea7210;



}




