@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html, body{
  /*width: 100%;
  height: 100%;*/
}

body{
  font-size: 14px;
  line-height: 1.5;
  color:black;
  background-color: white;
  display: block;
}

.navbar{
  margin-bottom: 0px;
  font-family: Pacifico;
}

.welcome{
  padding-top: 150px;

}

.button{
  padding-top: 25px;
}



.profile-create{
  padding: 100px;
  display: block;
  background-color: #ea7210;
}

.profile-link{
  padding: 30px;
  display: block;
  border: white 1px solid;

}

.samples{
  padding: 50px;
  display: block;
}


.thumbnails{
  text-align: center;

}

.thumbnail img{
  height: 250px;
}

#footer-left{
  width: 50%;
}

#footer-right{
  width: 50%;
}

a{
  text-decoration: none;
  color: white;
}

h1{ 
  text-align: center; 
  font-family: Pacifico;
  color: rgb(86, 84, 82);

}

h3{
  text-align: center;
  padding: 20px;
  font-family: Pacifico;
}

p{
  text-align: center;

}

/*Below is for the FAQ page*/

.ss_faq {
  display: block;
  background-color: #ea7210;

}

.ss_h3 {
  display:block;
  background-color: rgb(212, 212, 214);
  float: right;
  font-size: 18px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'PT Sans', sans-serif;
  height: auto;
 
  
}
 

.ss_h4 {
  display:block;
  background-color: rgb(212, 212, 214);
  float: right;
  font-size: 18px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'PT Sans', sans-serif;
  
}
/*
.ss_footer {
   font-family: 'PT Sans', sans-serif;
   font-size: 12px;
   display: block;
  background-color: #ea7210;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  margin-top: 40px;
  

}*/






